/* TODO Add site wide styles */








@media print {

    #card-card-whole {
        border: 2px black solid;
        /* border-style: inset; */
        /* padding: 0px; */
    }

}

.modal-content.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 17vw;
    /* border: 1px solid black  */

}

#dexter {
    font-size: 2vw;
}

#myinfopage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 30vw;
    vertical-align: middle;
}

.question {
    background-color: black;
    color: white;
    border: white solid 3px;
}

.answer {
    background-color: white;
    color: black;
    border: black solid 3px;

}

.below-header>div {
    margin-bottom: 1vw;
}

.below-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}
#below-nav-bar {
    background-color: black;
    min-height: 100vh;
}