/* TODO Add site wide styles */

@media print {

    #card-card-whole.question {
        border: 2px black solid ;
        /* border-style: inset; */
        /* padding: 0px; */
    }
   
}


.question {
    background-color: rgb(0, 0, 0);
    color: white;
    border: white solid 3px;
}

.answer {
    background-color: white;
    color: black;
    border: black solid 3px;

}

.below-header>div {
    margin-bottom: 1vw;
}

.below-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}