/* TODO Add site wide styles */
.question{
    background-color: black;
    color: white;
}
.answer {

}
.below-header>div{
    margin-bottom: 1vw;
}
.below-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
}

body {
    margin: 0px;
}

#navbar {
    width: 100vw;
    display: flex;
    justify-content: space-around;

}

#edit-modal {
    cursor: pointer;
    border: 1px black solid;
    background-color: black;
    color: white;
    width: fit-content;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: .12vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}