.info-box-card.two {
    width: 20vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1vw;
    padding: .5vw;
    border: 1px solid white;
    

}

.info-box-card {
    text-align: center;
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif
}

#card-card-text {
    padding-top: 1vw;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    overflow-wrap: break-word;
}


#card-card-whole {
    min-width: 17vw;
    width: 17vw;
    height: 24vw;
    /* border: 1px solid #000000; */
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75vw;
    cursor: pointer;
}

#card-card-name {
    text-align: center;
    padding-top: .5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#card-card-bot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 2vw;
}