#deck-title-sub {
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;

}



#deck-title {
    font-size: 3vw;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#icon-box>div {
    margin: .75vw;
    height: fit-content;
}

#icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30vw;
    height: fit-content;
}

#deck-create-textarea {
    height: 7vw;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    resize: none;
}

#make-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 18vw;

}

#create-deck-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    min-height: 20vw;
    min-width: 30vw;

    width: fit-content;
}



#cd-select-header {

    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-top: 2vw;
}

#cd-select-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#create-deck-card-whole {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#deck-create-whole {
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding-bottom: 4vw;
    padding-top: 4vw;
    min-height: 100vh;
}

#deck-create-top {
    display: flex;
    flex-direction: row;
    padding-left: 30vw;
}