#deck-card-text {
    /* display: flex; */
    padding-top: 1vw;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* flex-wrap: wrap; */
    overflow-wrap: break-word;
    overflow: hidden;
    max-width: 17vw;
    /* text-overflow: clip; */
}
/* #card-card-text {
    padding-top: 1vw;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    overflow: hidden;
    overflow-wrap: break-word;
} */

#deck-card-logo {
    height: 10vw;
}

#deck-card-inner {
    border: .17vw solid white;
    height: 28vw;
    width: 17vw;
    max-width: 17vw;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2vw;
    font-family:fantasy;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
    flex-wrap: wrap;
    overflow-wrap:break-word
}


#deck-card-whole {
    min-width: 17vw;
    width: 17vw;
    height: 22vw;
    max-width: 17vw;

    /* border: 1px solid #000000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75vw;
    cursor: pointer;
    border: .25vw solid white;
    border-top: .75vw solid white;
    border-left: .75vw solid white;
    overflow-wrap:break-word
}