
.modal-submit:hover{
filter: invert(100%);
}

.modal-submit {
    height: fit-content;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    padding: .45vw;
    padding-top: 0;
    margin-top: 1vw;
    cursor: pointer;
    background-color: black;
    color: white;
}

.modal-form>div>input:focus {
    outline: 3px solid black;
}

.error-box {
    font-size: 1vw;
    color: red;
}

.modal-exit {
    cursor: pointer;
    font-size: 2vw;
}

.modal-title {
    text-decoration: underline 2px black;
    font-family: monospace
}

.modal-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    text-align: center;
    font-family: bold;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vw;
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
}

.modal-form>div>input {
    height: 3vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

.modal-form {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5vw;
    text-align: center;

}

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;

}

#modal-content {
    position: absolute;
    background-color: white;
    padding: 1vw;
    z-index: 20;
}