#go-go-printer {
    font-size: 1.5vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin-top: 1vw;
    border: 1px solid white;
    padding-left: .5vw;
    padding-right: .5vw;
}

#nav-butt:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#nav-butt {
    cursor: pointer;
    /* border: 1px rgb(255, 255, 255) solid; */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 1vw;
    padding: .9851vw;
    font-size: 2vw;
    margin-top: 1vw;
    letter-spacing: .12vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#bot-half{
    background-color: rgb(255, 255, 255);
    margin: 0vw;
    /* outline: black px solid; */
    padding: 1vw;
    border-radius: 1vw;

}

#nav-right {
    width: 25vw;
    display: flex;
    justify-content: space-around;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 2vw;
    padding-right: 2vw;
    cursor: pointer;

}

#home-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4.5vw;
    height: 2vw;
    padding-left: 5vw;
    padding-top: 5vw;
    line-height: 4.5vw;
    cursor: pointer;
}

.profile-dropdown {
    margin-top: 5vw;
    position: absolute;
    background: white;
    color: black;
    border: black 1px solid;
    padding: 1vw;
    border-radius: 1vw;
}

.hidden {
    display: none;
}

#navbar {
    background-color: black;
    color: white;
    width: 100vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
}