#one-card-whole {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
    height: 80vw;
    padding: 10vw;
    padding-left: 30vw;

    /* margin-bottom: 10vw; */
}

#edit-modal {
    cursor: pointer;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: .12vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#one-card-right {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
}

#one-card-info {
    display: flex;
    flex-direction: column;

    height: 15vw;
    justify-content: space-between;
}