
#one-card-whole-card:first-child {
    padding-left: 30vw;
}

#one-card-whole.deck-create {
    min-height: 100vh;
padding-left: 0;
}
#icon-box>div {
    margin: .75vw;
    height: fit-content;
}
#icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30vw;
    height: 15vw;
}


#one-card-whole {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;

    padding-top: 4vw;
    padding-left: 30vw;
    min-height: 100vh;

    /* margin-bottom: 10vw; */
}

#delete-butt:hover {
    color: rgb(236, 49, 49);
}

#delete-butt {
    cursor: pointer;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(0, 0, 0);

    color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 1vw;
    padding: .9851vw;
    font-size: 2vw;
    margin-top: 1vw;
    letter-spacing: .12vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#edit-modal2:hover {
    filter: invert(100%);

}

#edit-modal2 {
    cursor: pointer;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    border-radius: 1vw;
    padding: .5vw;
    min-width: 8vw;
    display: flex;
    justify-content: center;
    /* margin-bottom: 1vw; */
    /* margin-top: 1vw; */
}
#edit-modal:hover {
    filter: invert(100%);

}

#edit-modal {
    cursor: pointer;
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    width: fit-content;
    border-radius: 1vw;
    padding: 1vw;
    font-size: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    letter-spacing: .12vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

#one-card-right {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
}

#one-card-info {
    display: flex;
    flex-direction: column;

    height: 15vw;
    justify-content: space-between;
}